<ng-container *ngIf="(state | async) as s">
	<h3>
		Checkout
		<button style="float: right;" mat-icon-button [mat-dialog-close]><span>cancel</span></button>
  </h3>

	<div *ngIf="s.cart.length > 0; else elseBlock">
  <p>
    Review your items and checkout
  </p>
  <div>
    <header>
      <h2>Total: {{ s.tot.subTot | currency:'USD':'symbol':'1.2-2' }}</h2>
      <p>
      tax: {{ s.tot.tax | currency:'USD':'symbol':'1.2-2' }}
      <br />
          at checkout: {{ s.tot.grandTot | currency:'USD':'symbol':'1.2-2' }}
      </p>
      </header>
      <div style="text-align: right;">
        <button type="button" mat-button color="accent" (click)="completeOrder()">
          Complete my order <span>check</span>
        </button>
      </div>
    </div>
  <div *ngFor="let item of s.cart">
    <p>
      {{ item.name }}<br />
      <strong>{{ item.price }}</strong>
    </p>
  </div> 
</div>
  <ng-template #elseBlock>
    <h4>Thank you for your fake purchase!</h4>
     <button type="button" mat-button color="primary" [mat-dialog-close]>
         Close <span>cancel</span>
        </button>
  </ng-template>
</ng-container>