<header class="t-site-header">
    <div class="o-container">
        <div class="t-site-header__top">
            <div class="o-row o-row--center-y">
                <div class="o-col o-col--lg25">
                    <img src="images/logo.png" alt="logo">
                </div>
                <div class="o-col o-col--lg75 t-site-header__menu">
                    <nav class="c-nav">
                        <a class="c-nav__item" href="#">Home</a>
                        <a class="c-nav__item" href="#">About</a>
                        <a class="c-nav__item" href="#">Offer</a>
                        <a class="c-nav__item" href="#">Products</a>
                        <a class="c-nav__item" href="#">Contakt</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="t-site-header__divider">
        </div>
        <div class="t-site-header__hero">
            <h1 class="c-heading c-heading--level1 c-heading--white">Shop offers</h1>
            <p class="t-site-header__intro-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum tenetur illum quia ducimus sunt cupiditate accusamus tempora placeat excepturi. Nulla neque numquam minima.</p>
            <a class="c-btn c-btn--accent" href="#">more</a>
            <span class="t-site-header__btn-divider">or</span>
            <a class="c-btn c-btn--dark-blue" href="#">registry</a>
        </div>
    </div>
</header>